<?xml version='1.0' encoding='utf-8'?>
<widget id="ct.demo.castlight" ios-CFBundleVersion="1.0.000" version="1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Castlight</name>
    <description>
      RV2
    </description>
    <author email="rrajaonarivony@c=castlighthealth.com" href="https://castlighthealth.com">
      CT
    </author>
    <content src="index.html" />
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="0.5" />
    <preference name="disable-cursor" value="false" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <access origin="*" />
    <access origin="cdvfile" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <icon src="www/res/icon/ios/icon-128.png" />
    <platform name="ios">
        <access origin="*" />
        <allow-navigation href="*" />
        <allow-intent href="*" />
        <icon height="57" src="www/res/icon/ios/icon-57.png" width="57" />
        <icon height="114" src="www/res/icon/ios/icon-114.png" width="114" />
        <icon height="76" src="www/res/icon/ios/icon-76.png" width="76" />
        <icon height="120" src="www/res/icon/ios/icon-120.png" width="120" />
        <icon height="152" src="www/res/icon/ios/icon-152.png" width="152" />
        <splash src="www/res/screen/ios/Default@2x~iphone~anyany.png" />
        <splash src="www/res/screen/ios/Default@2x~iphone~comany.png" />
        <splash src="www/res/screen/ios/Default@2x~iphone~comcom.png" />
        <splash src="www/res/screen/ios/Default@3x~iphone~anyany.png" />
        <splash src="www/res/screen/ios/Default@3x~iphone~anycom.png" />
        <splash src="www/res/screen/ios/Default@3x~iphone~comany.png" />
        <splash src="www/res/screen/ios/Default@2x~ipad~anyany.png" />
        <splash src="www/res/screen/ios/Default@2x~ipad~comany.png" />
    </platform>
    <plugin name="cordova-plugin-file-transfer" spec="~1.7.1" />
    <engine name="ios" spec="^5.0.1" />
</widget>
